/* ==================================================
   RESET
================================================== */

* {

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}


body {

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background: #e6c8ff;

    color: #1c121f;

}


/* ==================================================
   SIDEBAR
================================================== */

.sidebar {

    position: fixed;

    left: 0;

    top: 0;

    width: 230px;

    height: 100vh;

    background: #1b1222;

    color: rgb(212, 178, 226);

    padding: 20px;

    display: flex;

    flex-direction: column;

}


.logo {

    display: flex;

    align-items: center;

    gap: 10px;

    margin-bottom: 40px;

}


.logo-icon {

    font-size: 30px;

}


.logo h1 {

    font-size: 20px;

}


.logo span {

    font-size: 12px;

    opacity: 0.6;

}


.sidebar nav {

    display: flex;

    flex-direction: column;

    gap: 8px;

}


.menu-button {

    width: 100%;

    border: none;

    background: transparent;

    color: #ae00ff;

    padding: 13px;

    text-align: left;

    border-radius: 8px;

    cursor: pointer;

    font-size: 15px;

}


.menu-button:hover {

    background: #462d4b;

    color: rgb(234, 202, 255);

}


.menu-button.active {

    background: #8f2da5;

    color: rgb(239, 203, 255);

}S


.sidebar-footer {

    margin-top: auto;

    color: #8bc48b;

    font-size: 12px;

}


/* ==================================================
   MAIN
================================================== */

.main-content {

    margin-left: 230px;

    padding: 30px;

    min-height: 100vh;

}


/* ==================================================
   TELAS
================================================== */

.screen {

    display: none;

}


.screen.active {

    display: block;

}


/* ==================================================
   HEADER
================================================== */

.page-header {

    margin-bottom: 25px;

}


.page-header h2 {

    font-size: 28px;

    margin-bottom: 5px;

}


.page-header p {

    color: #67567c;

}


/* ==================================================
   BOTÃO
================================================== */

.primary-button {

    border: none;

    background: #222;

    color: white;

    border-radius: 8px;

    padding: 0 20px;

    height: 48px;

    cursor: pointer;

    font-weight: bold;

}


.primary-button:hover {

    opacity: 0.85;

}


/* ==================================================
   FORMULÁRIOS
================================================== */

.form-group {

    display: flex;

    flex-direction: column;

    gap: 7px;

    margin-bottom: 15px;

}


.form-group label {

    font-weight: 600;

    font-size: 14px;

}


.form-group input {

    height: 42px;

    border: 1px solid #ddd;

    border-radius: 7px;

    padding: 0 12px;

}


.form-row {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 15px;

}


/* ==================================================
   RESPONSIVO
================================================== */

@media (max-width: 800px) {

    .sidebar {

        width: 190px;

    }


    .main-content {

        margin-left: 190px;

    }

}